<div class="card my-5">
    <div class="card-body">
      <app-filter-task></app-filter-task>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.start_date}}</td>
            <td>{{ task.category.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>